<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Family Tree</title>

<link rel="styleSheet" href="{{ MEDIA_URL }}/css/themes/default/jqdjangogrid.css" type="text/css">
<style type="text/css">
body { font-family: helvetica, arial, sans-serif; font-size: 10pt; }
label { width: 100px; display: block; }
</style>

{% block script %}
    <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script>
    <script language="JavaScript" type="text/javascript" src="{{ MEDIA_URL }}/js/jqdjangogrid.js"></script>
{% endblock %}

</head>

{% block body %}{% endblock %}

</html>
